.brand-color {
  color: #1cc7c1;
}
.reactCalendar {
  border: 0 !important;
}
.dashBoard {
  background: #f4fbfd;
  height: 100vh;
  width: 100vw;
}
.sidebar {
  background: #13d0d1;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 5px;
  left: 0;
}
.not_Found {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
